*{

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* nav bar style codeding  */
.navbar{
    height: 100px;
    background-color: black;
    display: flex
    
}
/* head code for  */
.head{

    padding: 20px;
}

.head p{

    color: gold;
    background-color: pink;
    display: inline-block;

}

/* nav div code content page  */
.content{

    background-color: black;
    height: 100px;
    display: inline-block;
    margin-top: 30px;
    
}

.content h5{

    color: gold;
    background-color: pink;
    margin-left: 40px;
    display: inline-block;
    padding: 20px;

}
